.search {
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    padding: 10px 20px;
    line-height: 30px;
    margin: 20px 0;
}